<section id="money_value" class="inner_section">
    <div class="container">
        <h2 class="section_title">The Value of money</h2>
        <div class="money_value_inner">
            <figure>
                <img src="../img/Image2.jpg" alt="" />
            </figure>
            <div class="money_detail">
                <p>
                    Throughout history, the value of money has undergone significant changes. For example, the Roman denarius, a silver coin, was a widely used currency in ancient Rome. Its value fluctuated over time due to factors such as debasement and fluctuations in metal prices.
                </p>
                <p>
                    In extreme cases of hyperinflation, the value of a country's currency can plummet rapidly. One of the most well-known examples is the hyperinflation in Germany during the early 1920s, where prices doubled every few days, leading to the infamous stories of people needing wheelbarrows of money to buy basic goods.
                </p>
                <p>
                    The United States dollar (USD) has served as the world's primary reserve currency for decades. Many international transactions and commodities are priced and traded in dollars, underscoring the importance of the dollar in the global economy.
                </p>
                <p>
                    The rise of cryptocurrencies, such as Bitcoin, has introduced new concepts of value and money. While their value can be highly volatile, they represent an alternative form of digital currency not tied to any government or central bank.
                </p>
                <p>
                    Governments and central banks earn profits from issuing currency. Seigniorage is the difference between the face value of a currency and the cost of producing it. This profit contributes to government revenue.
                </p>
            </div>
        </div>
    </div>
  </section>
  
  <!-- Section 2 -->
  <section id="money_value" class="inner_section">
    <div class="container">
        <h2 class="section_title">GMO Food</h2>
        <div class="money_value_inner">
            <figure>
                <img src="../img/Image3.jpg" alt="" />
            </figure>
            <div class="money_detail">
                <p>
                    Genetic engineering allows scientists to precisely modify specific genes in an organism's DNA. This precision has enabled the development of crops with desirable traits, such as resistance to pests, diseases, and harsh environmental conditions.
                </p>
                <p>
                    GMOs are commonly used in agriculture to enhance crop yield and quality. Crops like corn, soybeans, cotton, and canola are often genetically modified to resist pests or tolerate herbicides
                </p>
                <p>
                    GMOs have contributed to increased crop yields by reducing losses due to pests and diseases. This has helped address food security concerns in many parts of the world.
                </p>
                <p>
                    Some GMOs are engineered to require fewer chemical pesticides or herbicides, leading to reduced environmental impact and less exposure to harmful chemicals for farmers and consumers.
                </p>
            </div>
        </div>
    </div>
  </section>
  
  <!-- Section 3 -->
  <section id="money_value" class="inner_section last-child">
    <div class="container">
        <h2 class="section_title">The view of world in 2100</h2>
        <div class="money_value_inner">
            <figure>
                <img src="../img/Image4.jpg" alt="" />
            </figure>
            <div class="money_detail">
                <p>
                    By 2100, technology is likely to have advanced significantly, potentially leading to increased automation, artificial intelligence, and robotics across various sectors. This could reshape industries, alter the nature of work, and lead to new economic and ethical considerations.
                </p>
                <p>
                    The world's view of environmental sustainability is likely to be a top priority. With the potential impacts of climate change becoming more pronounced, global efforts to combat environmental issues and achieve sustainable development goals could be central to the world's focus.
                </p>
                <p>
                    The world might have shifted toward cleaner and more sustainable energy sources, potentially reducing reliance on fossil fuels. Renewable energy technologies, such as solar, wind, and advanced nuclear power, could play a significant role in the energy mix.
                </p>
                <p>
                    By 2100, the world's population might have reached a peak and started stabilizing or even declining in some regions. Aging populations in many countries could lead to changes in healthcare, retirement policies, and intergenerational dynamics.
                </p>
            </div>
        </div>
    </div>
  </section>